@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: red;
        background-color: yellow;
    }

    footer {
        color: blue;
    }
</style>
<header>
 

</header>
<main>
    <table>
        <thead>
            <tr>
                <img style="width:350px;height:250px:"
                     src="~/Images/Antigua.jpg" />
                <img style="width:350px;height:250px:"
                     src="~/Images/maldives3.jpg" />
                <img style="width:350px;height:250px:"
                     src="~/Images/Eiffel Tower.jpg" />


            </tr>

            
    </table>
            </br>
    <table>
        <tr>
            <img style="width:350px;height:250px:"
                 src="~/Images/Ferrari World2.jpg" />
            <img style="width:350px;height:250px:"
                 src="~/Images/Barcelona.jpg" />
            <img style="width:350px;height:250px:"
                 src="~/Images/Neuschwanstein Castle.jpg" />


        </tr></br>


        

        </thead>
    </table>

    <tbody>

        </br>
        <tr>
        </tr>


    </tbody>
    </table>
</main>
