@{
    ViewData["Title"] = "Home Page";
}



<link rel="stylesheet" href="~/css/Index.css" />

    <table>
        <thead>
            <tr>
                <th rowspan="3">
                    <img src="~/Images/borat.jpg" align="middle" width="200" height="150" />
                </th>
                <th colspan="2">
                    Moises Golez &nbsp <a class="GramButtons">Follow</a>
                </th>
            </tr>

            <tr>
                <th class="a" >6 Posts</th>
                <th class="a">No Followers</th>
                <th class="a">0 Following</th>

            </tr>
           
            <tr>
                <th colspan="2">
                    This is an example description
                </th>
            </tr>
        </thead>
    </table>

    <table style="width:50%">
        <thead>
            <tr>
                <th >

                    <figure>
                        <img src="~/Images/red car.jpg" width="100" height="50" />
                        <figcaption>My Red Car</figcaption>

                    </figure>

                    
                </th>
                <th >
                    <figure >
                        <img src="~/Images/silver car.jpg" width="100" height="50"  />
                        <figcaption >My Silver Car</figcaption>

                    </figure>
                    
                </th>
            </tr>
           
        </thead>

    </table>


    <style>
        a:hover {
            background-color: white;
        }
    </style>
    <table style="width:60%" >
        <tr>
            <th class="MainLinks">

                <a href="#">&nbsp POSTS &nbsp &nbsp </a>
                <a href="#">&nbsp REELS &nbsp &nbsp </a>
                <a href="#">&nbsp IGTV &nbsp &nbsp </a>
                <a href="#">&nbsp TAGGED &nbsp &nbsp </a>

            </th>

        </tr>
                
    </table>

<br />
<main>

    <table>

        <thead>
            <tr>

                <td>
                    <div class="LikeFollow">
                        <img style="width:200px;height:200px"
                             src="~/Images/Antigua.jpg" />
                        <div class="middle">
                            <div><a class="GramButtons">Likes 100 Comments 18</a></div>

                        </div>
                    </div>
                </td>


                <td>
                    <div class="LikeFollow">
                        <img style="width:200px;height:200px"
                             src="~/Images/maldives3.jpg" />
                        <div class="middle">
                            <div><a class="GramButtons">Likes 418 Comments 95</a></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="LikeFollow">
                        <img style="width: 200px; height: 200px"
                             src="~/Images/Eiffel Tower.jpg" />
                        <div class="middle">
                            <div><a class="GramButtons">Likes 999 Comments 888</a></div>
                        </div>
                    </div>
                </td>
        </thead>


        <thead>
            <tr>


                <td>
                    <div class="LikeFollow">
                        <img style="width: 200px; height: 200px"
                             src="~/Images/Ferrari World2.jpg" />
                        <div class="middle">
                            <div><a class="GramButtons">Likes 1M Comments 250</a></div>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="LikeFollow">
                        <img style="width: 200px; height: 200px"
                             src="~/Images/Barcelona.jpg" />
                        <div class="middle">
                            <div><a class="GramButtons">Likes 817 Comments 650</a></div>
                        </div>
                    </div>


                </td>
                <td>
                    <div class="LikeFollow">
                        <video controls autoplay muted
                               style="width: 200px; height: 200px;">
                            <source src="~/Video/MP4 Video.mp4"
                                    type="video/mp4" />
                        </video>
                        <div class="middle">
                            <div><a class="GramButtons">Likes 198 Comments 888</a></div>
                        </div>
                    </div>

                </td>
            </tr>
        </thead>

    </table>

    <div id="FooterContainer">
        <table>
            <tbody>

                <tr>
                    <td>
                        Log in to see My Gram &nbsp &nbsp &nbsp


                    </td>
                    <td>
                        <a class="GramButtons" href="~/Home/Register">Log In</a>

                    </td>

                </tr>


                <tr>
                    <td>

                        Sign up to see photos and videos from friends and discover other accounts you'll love.'

                    </td>

                    <td>

                        <a class="GramButtons" href="~/Home/UserProfileInformation">Sign Up</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


</main>


