@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: red;
        background-color: yellow;
    }

    footer {
        color: blue;
    }
</style>
<header>
 

</header>
<main>

    <thead>
        <tr>
            <th>Image 1</th>
            <th>Image 2</th>
            <th>Image 3</th>

        </tr></br>

        <tr>
            <th>Image 4</th>
            <th>Image 5</th>
            <th>Image 6</th>

        </tr>

    </thead>


</main>
