@{
    ViewData["Title"] = "Home Page";
}



<link rel="stylesheet" href="~/css/Index.css" />

    <table>
        <thead>
            <tr>
                <th rowspan="3">
                    <img src="~/Images/borat.jpg" align="middle" width="200" height="150" />
                </th>
                <th>
                    Moises Golez<a class="GramButtons">Follow</a>
                </th>
            </tr>
            <tr>
                <th>
                    6Posts No Followers 0 Following
                </th>
            </tr>
              <tr>
                  <th>
                      This is an example description
                  </th>
              </tr>
        </thead>
    </table>
    <table>
        <tr>
            <th rowspan="3">

                <a href="#">POSTS</a>
                <a href="#">REELS</a>
                <a href="#">IGTV</a>
                <a href="#">TAGGED</a>

            </th>

        </tr>
                
    </table>
                
                


<br />
<main>
    <table>

        <thead>
            <tr>

                <td>
                    <img style="width:200px;height:200px"
                         src="~/Images/Antigua.jpg" />
                </td>
                <td>
                    <img style="width:200px;height:200px"
                         src="~/Images/maldives3.jpg" />
                </td>
                <td>
                    <img style="width: 200px; height: 200px"
                         src="~/Images/Eiffel Tower.jpg" />
                </td>

        </thead>
        <thead>
            <tr>


                <td>

                    <img style="width: 200px; height: 200px"
                         src="~/Images/Ferrari World2.jpg" />
                </td>
                <td>
                    <img style="width: 200px; height: 200px"
                         src="~/Images/Barcelona.jpg" />
                </td>
                <td>
                    <video controls autoplay muted
                           style="width: 200px; height: 200px;">
                        <source src="~/Video/MP4 Video.mp4"
                                type="video/mp4" />
                    </video>

                </td>
            </tr>
        </thead>

    </table>

</main>
