@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: red;
        background-color: yellow;
    }

    footer {
        color: blue;
    }
</style>
<header>
    <br />
    <body>

        <img style="width:250px;height:400:"
             src="~/Images/borat.jpg" align="left" />
        <p>
            Moises Golez
            <button>Follow</button>
        </p>
        <br />
        <p>

            6 Posts No Followers 0 Following
        </p>

        <br />
        <p>
            This is an example description
        </p>
        <br />
        <br />

        </p>

        <a href="https://i.pinimg.com/736x/71/36/07/713607a480ef4fcb90c2e48230eaebc0.jpg">POSTS REELS IGTV TAGGED</a>

    </body>

</header>


<main>
    <table>
        <thead>
            <tr>
                <img style="width:220px;height:250px:"
                     src="~/Images/Antigua.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/maldives3.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/Eiffel Tower.jpg" />
                </br>

                <img style="width:220px;height:250px:"
                     src="~/Images/Ferrari World2.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/Barcelona.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/Neuschwanstein Castle.jpg" />


            </tr>
        </thead>
            </br>
          
    </table>

    <tbody>

        </br>
        <tr>
        </tr>


    </tbody>
    </table>
</main>
