@{
    ViewData["Title"] = "Home Page";
}



<style>
    body {
        color: black;
        background-color: yellow;
    }

    footer {
        color: blue;
    }
</style>
<header>
    <br />
    <body>

        <img style="width:250px;height:400:"
             src="~/Images/borat.jpg" align="left" />
        <p>
            Moises Golez

            <a class="GramButtons">Follow</a>
        </p>
        <br />
        <p>
        </p>
        <b>6</b> Posts<b> No</b> Followers<b> 0</b> Following

        <br />
        <br />
        <br />
        <br />
        <p>
            This is an example description
        </p>
        <br />
        <br />

        </p>

        <a href="https://www.socialmediaexaminer.com/how-to-repost-instagram-feed-posts-stories-igtv-and-reels/">POSTS REELS IGTV TAGGED</a>

    </body>

</header>


<main>
    <table>
        <thead>
            <tr>
                <img style="width:220px;height:250px:"
                     src="~/Images/Antigua.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/maldives3.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/Eiffel Tower.jpg" />
                </br>
                </br >

                <img style="width:220px;height:250px:"
                     src="~/Images/Ferrari World2.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/Barcelona.jpg" />
                <img style="width:220px;height:250px:"
                     src="~/Images/Neuschwanstein Castle.jpg" />


            </tr>
        </thead>
        </br>

    </table>


    </table>
</main>
