@{
    ViewData["Title"] = "Home Page";
}



<link rel="stylesheet" href="~/css/Index.css" />

<header>
    <table>
        <thead>
            <tr>
                <th rowspan="3">
                    <img src="~/Images/borat.jpg" align="middle" width="200" height="150" />
                </th>
                <th>
                    Moises Golez<a class="GramButtons">Follow</a>
                </th>
            </tr>
            <tr>
                <th>
                    6Posts No Followers 0 Following
                </th>
            </tr>
              <tr>
                  <th>
                      This is an example description
                  </th>
              </tr>
        </thead>
    </table>
           

            <a href="#">POSTS REELS IGTV TAGGED</a>

            </ br>
            </ br></ br>


</header>

<br />
<main>
    <table>

        <thead>
            <tr>

                <td>
                    <img style="width:200px;height:200px"
                         src="~/Images/Antigua.jpg" />
                    <img style="width:200px;height:200px"
                         src="~/Images/maldives3.jpg" />
                    <img style="width: 200px; height: 200px"
                         src="~/Images/Eiffel Tower.jpg" />

                </td>
        </thead>
        <thead>
            <tr>


                <td>
                    <img style="width: 200px; height: 200px"
                         src="~/Images/Ferrari World2.jpg" />
                    <img style="width: 200px; height: 200px"
                         src="~/Images/Barcelona.jpg" />
                    <img style="width: 200px; height: 200px"
                         src="~/Images/Neuschwanstein Castle.jpg" />

                </td>
            </tr>
        </thead>
      
    </table>

</main>
