<form>

    <table>

        <tbody>

            <tr>
                <td>

                    <h5>User Personal Information</h5>
                </td>

            </tr>
            <tr>
                <td>

                    <label for="FirstName">First Name:</label>

                </td>


                <td>

                    <input id="FirstName" name="FirstName"
                           type="text" value="Add your FirstName"
                           size="18" maxlength="18"
                           placeholder="Add your FirstName" autofocus />

                    <label for="LastName">Last Name:</label>

                    <input id="LastName" name="LastName"
                           type="text" value="Add your LastName"
                           size="18" maxlength="18"
                           placeholder="Add your LastName" autofocus />

                </td>

            </tr>

            <tr>

                <td>

                    <label>Gender:</label>



                </td>

                <td colspan="3">

                    <input type="radio" id="MaleGender" name="gender" />

                    <label for="MaleGender">Male</label>



                    <input type="radio" id="FemaleGender" name="gender" />

                    <label for="FemaleGender">Female</label>



                    <input type="radio" id="NoResponseGender" name="gender" />

                    <label for="NoResponseGender">Prefer not to respond</label>

                </td>
            <tr>
                <td colspan="1">
                    <label for="FavoriteColor">Choose favorite color</label>
                    <input type="color" id="FavoriteColor" />
                </td>

            
         
                <td>
                    <label for="Birthday">Birthday</label>

                    <input type="date" id="Birthday" min="1970-05-01"
                           max="2025-11-07" />

                </td>
            </tr>
            <tr>
                <td>
                    <label for="Email">Email:</label>
                </td>
                <td colspan="3">
                    <input type="email" id="Email"
                           size="50" maxlength="50" placeholder="Add your Email Address" autofocus/>
                </td>

            </tr>

            <tr>
                <td>


                    <label for="country">Country of Residence:</label>

                </td>
                <td colspan="1">


                    <select id="countries" name="countries" >


                        <option value="United States" >USA</option>

                    </select>
                </td>



            </tr>
            <tr>

                <td colspan="1">
                    <label for="ProfileImage">Select profile image:</label>
                </td>
                <td>
                    <input type="file" id="ProfileImage" multiple />

                </td>

            </tr>
            <tr>

                <td colspan="3">

                    <button>Update User Information</button>

                </td>

            </tr>
        </tbody>







    </table>







</form> 