<form>

    <table>

        <tbody>

            <tr>
                <td>

                    <h5>User Personal Information</h5>
                </td>

            </tr>
            <tr>
                <td>

                    <label for="FirstName">First Name:</label>

                </td>

                
                <td>

                    <input id="FirstName" name="FirstName"
                           type="text" value="Add your FirstName"
                           size="18" maxlength="18"
                           placeholder="Add your FirstName" autofocus />

                </td>
               

                <td>

                    <label for="LastName">Last Name:</label>

                </td>

                <td>

                    <input id="LastName" name="LastName"
                           type="text" value="Add your LastName"
                           size="18" maxlength="18"
                           placeholder="Add your LastName" autofocus />


                </td>

            </tr>

            <tr>

                <td>

                    <label>Gender:</label>



                </td>

                <td colspan="3">

                    <input type="radio" id="MaleGender" name="gender" />

                    <label for="MaleGender">Male</label>



                    <input type="radio" id="FemaleGender" name="gender" />

                    <label for="FemaleGender">Female</label>



                    <input type="radio" id="NoResponseGender" name="gender" />

                    <label for="NoResponseGender">Prefer not to respond</label>

                </td>

            

            <tr>
                <td>
                    <label for="Email">Email:</label>
                </td>
                <td colspan="3">
                    <input type="email" id="Email" 
                    size="50" maxlength="50"/>
                </td>

            </tr>

            <tr>
                <td>


                    <label for="country">Country of Residence:</label>
                    
                </td>
                <td>
                    
  
                        <select id="countries" name="countries">


                          <option value="United States">USA</option>

                        </select>
</td>

   

            </tr>
            
            <tr>

                <td colspan="3">
                    
                    <button>Update User Information</button>

                </td>

            </tr>
        </tbody>







    </table>







</form> 