body {
    color: none;
    background-color: yellow;

}
.coolText {
    color: brown;
}

table {
    text-align: left;
    border-style: none;
    border-width: 1px;
    border-color: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal !important;
}


footer {
    color: blue;
}


#TestDiv p::selection {
    background-color: blue;
    color: yellowgreen;
}

th {
    font-weight: normal!important;
}

th::first-letter {
    font-weight: bold!important;
}

.MainLinks a {
    background-color: white!important;
    color: gray!important;
    text-decoration: none!important;
}

.MainLinks a:hover {
    color: black !important;
}



.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


.middle {
    top: 50%;
    text-align: center;
    display: none;
}
.LikeFollow:hover .image {
    opacity: 0.3;
}

.LikeFollow:hover .middle {

    display: block;
}
.text {
    background-color: orangered;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    
    
}