body {
    color: black;
    background-color: yellow;
}
.coolText {
    color: brown;
}

table {
    text-align: center;
    border-style: none;
    border-width: 1px;
    border-color: none;
    margin-left: auto;
    margin-right: auto;
    
}


footer {
    color: blue;
}


a:hover {
    background-color: none;
    color: black;
}
a:link {
    background-color: gray;
}
a:active {
    background-color: #0095f6;
}

#TestDiv p::selection {
    background-color: blue;
    color: yellowgreen;

